# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Test / coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
logs/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Prisma local
apps/api/prisma/*.db
